# docker-compose.yml
version: "3"
services:
  app:
    build: .
    depends_on:
      - postgres
    ports:
      - "3000:3000"
      - "5432:5432"
  postgres:
    image: postgres:11.1-alpine
    environment:
      POSTGRES_PASSWORD: 1
      POSTGRES_DB: transacciones
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql