# docker-compose.yml
version: "3"
services:
  app:
    build: .
    depends_on:
      - db
    ports:
      - "3000:3000"
  localhost:
    image: postgres:11.1-alpine
    ports:
      - "5432:5432"
      - "9229:9229"
      - "80:80"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1
      - POSTGRES_DB=transacciones
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

