# docker-compose.yml
version: "3"
services:
  app:
    build: .
    ports:
      - 80:3000
    command: bash -c 'while !</dev/tcp/db/5432; do sleep 1; done; npm start'
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://postgres:1@postgres:5432/transacciones
      - PORT=3000
  db:
    image: postgres:11.1-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1
      - POSTGRES_DB=transacciones
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

