# docker-compose.yml
version: "3"
services:
  app:
    build: .
    depends_on:
      - db
    ports:
      - "3000:3000"
      - "5432:5432"
    environment:
      - DATABASE_URL=postgres://postgres:1@localhost:5432/transacciones
      - PORT=3000
  db:
    image: postgres:11.1-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1
      - POSTGRES_DB=transacciones
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

